<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  font-family: Arial, sans-serif;
}



</style>
</head>  
   <body>  
       <h1 style="font-size:50px;"><center>IMAGE CLASSIFICATION</center></h1>
       <h3><p>Upload an image of a Cat or a Dog and the Convolutional Neural Network (CNN) will classify wheather it is a cat or a dog</p></h3>  
      <!-- <form action = "https://sentiment-predictions.herokuapp.com//success" method = "POST">
         <form action = "http://localhost:5000/success" method = "POST">
         <p>Enter Text <input type = "text" name = "name" /></p>  
         
         <p><input type = "submit" value = "submit" /></p>  
      </form> -->  
      <div>
      <!-- <form action = "http://localhost:5000/success" method = "POST" enctype="multipart/form-data"> -->
      <form action = "https://cat-or-dog.herokuapp.com/success" method = "POST" enctype="multipart/form-data">
    
      <label for="img"><h4>Select an image:</h4></label>
      <input type="file" id="img" name="img" accept="image/*" required>
      <input type="submit" value=" Predict ">

      </form></div>

   </body>  
</html>